@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

:root {
  --pm-mod-blue: hsl(238, 40%, 52%);
  --pm-soft-red: hsl(358, 79%, 66%);
  --pm-lt-blue: hsl(239, 57%, 85%);
  --pm-pale-red: hsl(357, 100%, 86%);

  --nt-dark-blue: hsl(212, 24%, 26%);
  --nt-gray-blue: hsl(211, 10%, 45%);
  --nt-light-gray: hsl(223, 19%, 93%);
  --nt-v-light-gray: hsl(228, 33%, 97%);
  --nt-white: hsl(0, 0%, 100%);
}

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--nt-light-gray);
}

.container {
  width: 100%;
  height: 65vh;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.container::-webkit-scrollbar {
  width: 0 !important;
}
.comments-container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.add-comment-wrapper {
  width: 100%;
  height: 35vh;
  display: grid;
  place-items: center;
  position: relative;
}

.add-comment {
  width: 90%;
  max-width: 800px;
  min-height: 200px;
  background-color: var(--nt-white);
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 2rem;
}
.sign-in-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-in-wrapper button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-photo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.add-comment textarea {
  width: 75%;
  align-self: stretch;
  border: unset;
  padding: 0.5rem;
  border: 1px solid var(--pm-lt-blue);
  border-radius: 0.35rem;
}

.comment-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: unset;
  border: none;
  outline: unset;
  background-color: var(--pm-mod-blue);
  color: var(--nt-white);
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  text-transform: uppercase;
}

.comment {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: var(--nt-white);
  border-radius: 0.75rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  /* height: 150px;
  overflow-y: scroll; */
}

.score-counter {
  width: 2.5rem;
  background-color: var(--nt-light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.5rem;
}

.score-counter .score {
  color: var(--pm-mod-blue);
  font-weight: 500;
  font-size: 1rem;
}
.fill-icon {
  filter: invert(1) opacity(0.8) sepia(1) saturate(5) hue-rotate(172deg);
}
.score-counter button {
  width: 100%;
  background-color: unset;
  transition: 300ms ease;
  border-radius: 0.5rem;
}
.score-counter button:hover {
  background-color: hsl(223, 19%, 88%);
}
.score-counter button:focus {
  outline: 1px solid var(--nt-gray-blue);
}

.comment-content {
  width: 100%;
}

.comment-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-profile-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.comment-top .left,
.comment-top .right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.9rem;
}

.username {
  font-weight: 500;
  color: var(--nt-dark-blue);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.current-user-badge {
  padding: 0.1rem 0.35rem;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--nt-white);
  background-color: var(--pm-mod-blue);
  border-radius: 0.15rem;
}
.comment-date {
  color: var(--nt-gray-blue);
}

.comment-top .right {
  font-weight: 500;
  font-size: 0.75rem;
  cursor: pointer;
}
.comment-top .right p:hover {
  opacity: 0.7;
}
.comment-top .right img {
  width: 0.65rem;
  margin-right: 0.15rem;
}
.edit,
.reply {
  color: var(--pm-mod-blue);
}
.delete {
  color: var(--pm-soft-red);
}

.comment-text {
  margin-top: 0.75rem;
  width: 95%;
  color: var(--nt-gray-blue);
  font-size: 0.95rem;
  letter-spacing: 0.45px;
  line-height: 1.25rem;
}

.update-comment {
  width: 95%;
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.75rem;
}
.update-comment textarea {
  width: 100%;
  padding: 0.5rem;
  min-height: 100px;
  border: 1px solid var(--pm-lt-blue);
  border-radius: 0.35rem;
}
.update-disable {
  background-color: hsl(238, 40%, 62%) !important;
  cursor: auto;
}

.delete-modal-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  z-index: 99;
  display: grid;
  place-items: center;
}

.del-modal {
  width: 90%;
  max-width: 320px;
  background-color: var(--nt-white);
  padding: 1.5rem;
  border-radius: 1rem;
}

.del-modal h3 {
  color: var(--nt-dark-blue);
  font-weight: 500;
  margin-bottom: 1rem;
}

.del-modal p {
  color: var(--nt-gray-blue);
  font-size: 0.85rem;
  letter-spacing: 0.45px;
  line-height: 1.15rem;
}

.del-modal-btn-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.cancel {
  background-color: var(--nt-gray-blue);
}

.del {
  background-color: var(--pm-soft-red);
}

.add-reply {
  background-color: var(--nt-white);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
}

.add-reply .textarea-wrapper {
  width: 100%;
}

.replying-to {
  font-size: 0.75rem;
  color: var(--nt-gray-blue);
  margin-bottom: 0.35rem;
  letter-spacing: 0.35px;
}

.replying-to span {
  font-weight: 500;
}

.add-reply textarea {
  width: 100%;
  padding: 0.5rem;
  min-height: 100px;
  border: 1px solid var(--pm-lt-blue);
  border-radius: 0.35rem;
}

.reply-container {
  width: 95%;
  margin-left: auto;
  border-left: 1px solid var(--nt-gray-blue);
  margin-bottom: 1rem;
}

.reply-container .comment {
  width: 90%;
  margin-left: auto;
}

.reply-container .add-reply {
  width: 90%;
  margin-left: auto;
}

.comment-user {
  font-weight: 500;
  color: var(--pm-mod-blue);
}

.show-replies {
  width: fit-content;
  margin-left: auto;
  margin-bottom: 1.25rem;
  font-weight: 500;
  color: var(--nt-gray-blue);
  font-size: 0.85rem;
  letter-spacing: 0.75px;
  cursor: pointer;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
